.UsersDashboard {
	width: 100%;
	height: 100%;
	padding-bottom: 2rem;

	.Top {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.Profile {
			display: flex;
			align-items: center;
			gap: 0.5rem;

			img {
				width: 4.849rem;
				height: 4.849rem;
				border-radius: 50%;
			}
			.Details {
				display: flex;
				flex-direction: column;

				h3 {
					color: var(--Dashbaord, #2c2c2c);
					font-family: Poppins;
					font-size: 1.46388rem;
					font-style: normal;
					font-weight: 600;
					line-height: 140%; /* 2.04938rem */
				}
				p {
					color: #999;
					font-family: Poppins;
					font-size: 1.09788rem;
					font-style: normal;
					font-weight: 400;
					line-height: 140%; /* 1.53706rem */
				}
			}
		}

		.Right {
			display: flex;
			align-items: center;
			gap: 2rem;

			.EditLayout {
				display: flex;
				width: 9.6875rem;
				height: 2.75rem;
				padding: 0.625rem;
				justify-content: center;
				align-items: center;
				gap: 0.625rem;
				flex-shrink: 0;
				border-radius: 6.25rem;
				border: 1px solid var(--Ellipse-30, #e6d366);
				background: #fff;
				cursor: pointer;

				svg {
					width: 1.3125rem;
					height: 1.3125rem;
					flex-shrink: 0;
				}

				p {
					color: var(--Ellipse-30, #e6d366);
					font-family: Poppins;
					font-size: 0.875rem;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
			}

			.Back {
				display: flex;
				width: 10.1875rem;
				height: 3rem;
				padding: 0.75rem 1.625rem;
				justify-content: center;
				align-items: center;
				gap: 0.625rem;
				flex-shrink: 0;
				border-radius: 6.25rem;
				border: 1px solid #ece9f1;
				cursor: pointer;

				svg {
					width: 1.5rem;
					height: 1.5rem;
					flex-shrink: 0;
				}
				p {
					color: #2c2c2c;
					font-family: Poppins;
					font-size: 0.875rem;
					font-style: normal;
					font-weight: 500;
					line-height: 1.25rem; /* 142.857% */
				}
			}

			button {
				cursor: pointer;
				background: transparent;
				cursor: pointer;
				width: max-content;
				border: none;

				svg {
					width: 2.8125rem;
					height: 2.8125rem;
				}
			}
		}
	}
}

.DashboardTable {
	width: 100%;
	height: 100%;
	border-radius: 0.95556rem 0.95556rem 0.5625rem 0rem;
	background: var(--c2);
	backdrop-filter: blur(20.067087173461914px);

	display: flex;
	flex-direction: column;

	.Filters {
		padding: 1rem 2rem;

		display: flex;
		align-items: center;
		gap: 2rem;

		.SearchWrapper {
			margin-left: auto;
			display: flex;
			width: 20.57963rem;
			padding: 0.97rem;
			align-items: center;
			gap: 0.7275rem;

			border-radius: 0.5rem;
			border: 1px solid #ece9f1;

			svg {
				width: 1.28094rem;
				height: 1.28094rem;
			}

			input {
				flex: 1;
				color: #2c2c2c;
				font-family: Poppins;
				font-size: 0.875rem;
				font-style: normal;
				font-weight: 500;
				line-height: 1.25rem; /* 142.857% */
				background-color: transparent;
				border: none;
				outline: none;
			}
		}
	}
	.Headings {
		width: 100%;
		height: 2.25rem;
		opacity: 0.7;
		background: rgba(217, 217, 217, 0.16);

		display: flex;
		align-items: center;

		div {
			color: #2c2c2c;
			font-family: Poppins;
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 500;
			line-height: 1.25rem; /* 142.857% */
			text-transform: uppercase;

			padding: 0 2rem;

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				flex: 1;
			}
			&:nth-child(4) {
				flex: 0.7;
			}

			&:nth-child(5) {
				flex: 0.5;
			}
			&:nth-child(4),
			&:nth-child(5) {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.SupportCards {
		flex: 1;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			display: none;
		}

		.Card {
			width: 100%;
			min-height: 4.5rem;
			border-bottom: 1px solid #ebebeb;

			display: flex;
			align-items: center;
			justify-content: flex-start;

			div {
				color: var(--Dashbaord, #2c2c2c);
				font-family: Poppins;
				font-size: 0.875rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				line-clamp: 5;
				-webkit-line-clamp: 5;
				overflow: hidden;
				margin: 0.5rem 2rem;
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {
					flex: 1;
				}
				&:nth-child(4) {
					flex: 0.7;
				}

				&:nth-child(5) {
					flex: 0.5;
					align-items: center;
				}

				&:nth-child(4),
				&:nth-child(5) {
					display: flex;
					align-items: center;
					justify-content: center;
				}

				svg {
					cursor: pointer;
				}

				&.NamePic {
					display: flex;
					align-items: center;
					gap: 0.5rem;

					img {
						height: 3rem;
						width: 3rem;
						border-radius: 50%;
					}
				}
			}
		}
	}
	.SupportFooter {
		width: 100%;
		padding: 1.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 0rem 0rem 0.5rem 0.5rem;
		background: var(--c2);
		border-top: 1px solid #ebebeb;

		p {
			color: var(--Rectangle-164, #3d3d3d);
			font-family: Poppins;
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 400;
			line-height: 1.3125rem; /* 150% */
		}

		.pageButtons {
			display: flex;
			align-items: center;
			gap: 1rem;

			button {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 1.72rem;
				width: 1.72rem;
				border-radius: 0.3rem;
				border: none;
				background: transparent;

				cursor: pointer;

				&:disabled {
					cursor: not-allowed;
					opacity: 0.5;
					svg {
						path {
							fill: var(--c2);
						}
					}
				}

				svg {
					height: 1.3rem;
					width: 1.3rem;
					path {
						fill: var(--c8);
					}
				}
			}

			p {
				height: 2.2rem;
				width: 2.2rem;
				display: flex;
				padding: 0.625rem;

				align-items: center;
				justify-content: center;
				gap: 0.625rem;
				border-radius: 50%;

				background: var(--Ellipse-30, #e6d366);
				color: #fff;
				text-align: center;

				/* Sub-heading/03 */
				font-family: "Public Sans";
				font-size: 0.875rem;
				font-style: normal;
				font-weight: 600;
				line-height: 1.25rem; /* 142.857% */
			}
		}
	}
}
